
.calendar {
    margin: auto;
}

.month-year {
    font-weight: 500;
}

.week-day {
    padding: 6px;
    margin: 1px;
    font-weight: 500;
}

.day {
    padding: 6px;
    margin: 1px;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    border-radius: 5px;
}


.day-off {
    background-color:whitesmoke;
    color: gray;
}   

.day-off:hover {
    background-color:whitesmoke;
    color: gray;
}  
.day-full {
    background-color: #ce2525ff;
    color: black;
}   

.day-blocked {
    background-color: gold;
    color: black;
}  

.day-other-month {
    background-color: white
}

.previous-month:hover {
    cursor: pointer;
}

.next-month:hover {
    cursor: pointer;
}

.day-selected {
  border: 3px solid #000;
  color: white;
  background-color: #1abc45;
  font-size: 1.25rem;
  padding: 0;
}

